@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globales Base */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    /* BORRA EL BACKGROUND-COLOR Y COLOR DE AQUÍ */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}